<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Error</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>

<body class="bg-light">
<a href="/logout" class="btn btn-info btn-lg">
    <span class="glyphicon glyphicon-log-out"></span> Log out
</a>

<div class="container">
    <div class="py-5 text-center">
        <h2>Error</h2>
    </div>

    <div class="alert alert-warning" th:if="${exception}" th:text="'Error  occurred: ' + ${exception.message}"></div>
</div>

<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2018 Company Name</p>
</footer>
</body>
</html>
